/* FONT */
@font-face {
	font-family: "Roboto";
	src: url("Roboto regular.ttf");
}

/* STYLE */
*{
	font-family: "Roboto";
}

body{
	background-color: #34495E;
	color: #ecf0f1;
	text-align: center;
}

h1{
	padding: 16px 0px;
	margin: 0px;
}

header{
	background-color: #2c3e50;
	border-radius: 2px;
	margin: 8px 0px;
	padding: 0px;
}

.dataImg{
	display: none;
}

#container{
	text-align: center;
	margin: 0 auto;
}

#canvas{
	border: 1px solid #2c3e50;
	background-color: #2c3e50;
	box-shadow: 0px 0px 4px black inset;
	display: inline-block;
	margin-bottom: 8px;
}

input[type=range]{
	background-color: #2c3e50;
	padding: 0px 8px;
	height: 32px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px #ecf0f1;
}

#settings{
	width: 1024px;
	margin: auto;
	text-align: left;
}

.controlIcon{
	height: 32px;
	width: auto;
}
