#content.about #container {
	text-align: center;
}

#content.about section {
	text-align: center;
}

#content.about section:not(:first-of-type) {
	margin-top: 32px;
}

#content.about h2 {
	display: inline-block;
	
	background: #fff;
	color: #000;
	
	padding: 0px 8px;
	margin: 0px;
	
	font-family: "w_Zilla Slab";
	font-size: 2em;
}

#content.about p {
	padding: 0px 8px;
	margin: 0;
	margin-top: 16px;
	
	font-size: 1.2em;
}
