footer {
	position: fixed;
	left: 0; right: 0;
	bottom: 25px;
	
	height: 32px;
	line-height: 32px;
	
	text-align: center;
	z-index: 2104;
}

footer p {
	font-family: "Fira Mono";
	color: #888;
}

footer p a {
	color: #fb0;
	font-family: "Fira Mono";
	font-weight: inherit;
	cursor: pointer;
}
footer p a:hover, footer p a:active {
	border-bottom: solid 1px #fb0;
}
