#content.projects #container {
	max-width: 800px;
}

#project-tiles {
	text-align: center;
}

#project-tiles>li {
	display: inline-block;
	width: 250px; height: 220px;
	
	text-align: left;
	
	margin: 0; padding: 0;
	border: 1px solid #888;
	
	position: relative;
	
	overflow: hidden;
}

#project-tiles>li .tile-bg {
	display: inline-block;
	
	position: absolute;
	left: 0; right: 0;
	top: 50%;
	
	text-align: center;
	
	transform: translate(0%, -50%);
	
	font-size: 1.75em;
}

#project-tiles>li .tile-info {
	background: rgba(0, 0, 0, 0.8);
	
	margin: 0; padding: 0;
	
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	
	transform: translate3d(0px, 190px, 0px);
	
	transition: transform 0.5s;
}

#project-tiles>li:hover .tile-info, #project-tiles>li:focus .tile-info {
	transform: translate3d(0px, 0px, 0px);
}

#project-tiles>li .tile-head {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	
	border-bottom: 1px solid #888;
}

#project-tiles>li .tile-name {
	position: absolute;
	top: 0;
	left: 0;
	
	margin: 0px; padding: 0px 8px;
	
	font-size: 1.1em;
	font-weight: bolder;
}

#project-tiles>li .tile-lang {
	position: absolute;
	top: 0;
	right: 0;
	
	margin: 0px; padding: 0px 8px;
	
	font-size: 1.1em;
}

#project-tiles>li .tile-desc {
	margin: 0px; padding: 8px;
}

#project-tiles>li .tile-links {
	display: inline-block;
	
	position: absolute;
	bottom: -30px;
	right: 0;
	
	opacity: 0.0;
	
	margin: 8px; padding: 0px;
	
	transition: bottom 0.5s, opacity 1s;
	transition-delay: 0s;
}

#project-tiles>li:hover .tile-links, #project-tiles>li:focus .tile-links {
	bottom: 0px;
	
	opacity: 1.0;
	
	transition: bottom 0.5s, opacity 1s;
	transition-delay: 1s;
}

#project-tiles>li a {
	color: #888;
	border-bottom: 1px solid #555;
	
	transition: color 0.5s, border-bottom-color 0.5s;
}

#project-tiles>li a:hover {
	color: #fff;
	border-bottom-color: #fff;
}
