/* FONT */
@font-face {
	font-family: "Roboto";
	src: url("Roboto regular.ttf");
}

/* STYLE */
body{
	background-color: #34495E;
	text-align: center;
}

#koapad{
	font-family: "Roboto";
	background-color: #2C3E50;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 4px black;
}

#koapad table{
	border-spacing: 8px;
}

#koapad h1{
	color: #BDC3C7;
	font-size: 2em;
	position: relative;
	left: -432px;
	top: -4px;
	height: 0.8em;
}

#koapad h1 .titlePrefix{
	background-color: #2ecc71;
	color: #2C3E50;
	padding: 0px 6px;
	border-radius: 8px 0px 0px 8px;
	border: 2px solid #2ecc71;
}

#koapad h1 .titleSuffix{
	padding: 0px 6px;
	border-radius: 0px 8px 8px 0px;
	border: 2px solid #2ecc71;
}

.key{
	z-index: 99;
	
	width: 32px;
	height: 32px;
	text-align: left;
	padding: 32px;
	color: #7F8C8D;
	border-radius: 2px;
}

.keyNumber{
	text-shadow: 0px 0px 8px #7F8C8D;
	position: relative;
	bottom: -36px;
	left: -26px;
}
