---
import ProjectCard from "../components/ProjectCard.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout tab="projects">
  <main class="flex flex-col gap-4">
    <ProjectCard
      title="Project A"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut iure qui commodi dolorem totam, eaque necessitatibus quaerat!"
      tags={["foo", "bar", "baz"]}
    />
    <ProjectCard
      title="Project B"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut iure qui commodi dolorem totam, eaque necessitatibus quaerat!"
      tags={["foo", "bar", "baz"]}
    />
    <ProjectCard
      title="Project C"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut iure qui commodi dolorem totam, eaque necessitatibus quaerat!"
      tags={["foo", "bar", "baz"]}
    />
  </main>
</HomeLayout>
