---
import Layout from "../layouts/Layout.astro";
---

<Layout title="nasso">
  <header>
    <h1>nasso</h1>
    <h2>Passionate Software Engineer</h2>
  </header>
  <main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed atque veniam
    perspiciatis ipsa rem! Odit asperiores soluta libero, possimus ea, pariatur
    fuga, nulla minus perferendis aperiam distinctio commodi nostrum dolorem.
  </main>
</Layout>
