/* FONT */
@font-face {
	font-family: "Roboto";
	src: url("Roboto regular.ttf");
}

/* STYLE */
*{
	font-family: "Roboto";
}

body{
	background-color: #34495E;
	color: #ecf0f1;
	text-align: center;
}

h1{
	padding: 16px 0px;
	margin: 0px;
}

header{
	background-color: #2c3e50;
	border-radius: 2px;
	margin: 8px 0px;
	padding: 0px;
}

.dataImg{
	display: none;
}

#container{
	text-align: center;
	margin: 0 auto;
}

#canvas{
	width: 1024;
	height: 512;
	border: 1px solid #2c3e50;
	background-color: black;
	box-shadow: 0px 0px 4px black inset;
	display: inline-block;
}

input[type=range]{
	background-color: #2c3e50;
	padding: 0px 8px;
	height: 32px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px black inset;
	border-bottom: 1px solid #34495E;
}

#settings{
	width: 1024px;
	display: inline-block;
	text-align: left;
	background-color: #2c3e50;
	padding: 8px 16px;
	padding-top: 16px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px black inset;
}

#playPause{
	margin: 0px 8px;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.controlIcon{
	height: 32px;
	width: auto;
}


a:not(.classic) {
	transition: background-color 500ms;
	-o-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
	
	background-color: #3498DB;
	box-shadow: 0px 0px 1px black;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	margin: 4px;
	padding: 8px 16px;
	height: 24px;
	line-height: 24px;
	color: #ECF0F1;
	text-decoration: none;
}

a:not(.classic):hover {
	background-color: #27AE60;
}

a.small{
	font-size: 0.6em;
	padding: 4px 8px;
}

#progressBar{
	border-bottom: 1px solid #34495E;
	margin-bottom: 8px;
	box-shadow: 0px 0px 1px black inset;
	border-radius: 2px;
}

#currentTime{
	height: 32px;
	line-height: 32px;
	font-size: 1.5em;
	display: inline-block;
	
	position: relative;
	top: -8px;
}

#fullscreen{
	width: 32px;
	height: 32px;
	float: right;
}

#selectFiles{
	margin-top: 16px;
}

#linkTextField{
	background-color: #2c3e50;
	border: none;
	border-radius: 2px;
	color: #ecf0f1;
	margin-top: 8px;
	padding: 8px;
	border-bottom: 1px solid #3498db;
	box-shadow: 0px 0px 1px black;
}

#linkSubmit{
	margin-left: 16px;
}

.redP, .redP * {
	color: red;
}
